html,
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: black;
  color: white;
}

#canvas-container {
  border: 1px solid lightblue;
  border-radius: 4px;
  padding: 1em;
}

header {
  text-align: center;
}
